pypdf
langchain
torch
accelerate
bitsandbytes
transformers
ctransformers
sentence_transformers
faiss_cpu
chainlit
streamlit
langchain_community
chromadb
xformers
einops
datasets
loralib
sentencepiece
PyPDF2
huggingface-hub

