pypdf
langchain
torch
accelerate
bitsandbytes
transformers
ctransformers
sentence_transformers
faiss_cpu
chainlit
streamlit
langchain_community
chromadb
xformers
einops
datasets
loralib
sentencepiece
PyPDF2
huggingface-hub
openai==0.27.9
langchain
docx2txt
pypdf
streamlit
chromadb==0.3.29 # version because of Sqlite error on Streamlit Community Sharing
tiktoken
unstructured[local-inference]
layoutparser[layoutmodels,tesseract]
